name: Run tests

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
      - uses: ramsey/composer-install@v3
      - run: vendor/bin/phpunit
